body{
    background-color: rgb(70, 145, 240);
    font: normal 20pt Arial;
}

section{
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 330px;
    margin: auto;
}

header{
    font: normal 20pt Arial;
    text-align:center;
    color: white;
}